@media only screen and (min-width: 1100px) {
    @for $i from 1 to 100 {
        .padding-#{$i} {
            padding: $i*10px !important;
        }
    }
}

@media only screen and (max-width: 1100px) {
    @for $i from 1 to 100 {
        .padding-#{$i} {
            padding: $i*5px;
        }
    }
}

@media only screen and (max-width: 600px) {
    @for $i from 1 to 100 {
        .padding-#{$i} {
            padding: #{$i}vw;
        }
    }
}

@media only screen and (max-width: 400px) {
    @for $i from 1 to 100 {
        .padding-#{$i} {
            padding: #{$i/3}vw;
        }
    }
}

@for $i from 1 to 100 {
    .padding-lr-#{$i} {
        padding-left: $i*10px;
        padding-right: $i*10px;
    }
}

@media only screen and (max-width: 600px) {
    @for $i from 1 to 100 {
        .padding-lr-#{$i} {
            padding-left: #{$i}vw;
            padding-right: #{$i}vw;
        }
    }
}

@media only screen and (max-width: 400px) {
    @for $i from 1 to 100 {
        .padding-lr-#{$i} {
            padding-left: #{$i/3}vw;
            padding-right: #{$i/3}vw;
        }
    }
}

@for $i from 1 to 100 {
    .padding-tb-#{$i} {
        padding-top: $i*10px;
        padding-bottom: $i*10px;
    }
}

@media only screen and (max-width: 600px) {
    @for $i from 1 to 100 {
        .padding-tb-#{$i} {
            padding-top: #{$i}vw;
            padding-bottom: #{$i}vw;
        }
    }
}

@media only screen and (max-width: 400px) {
    @for $i from 1 to 100 {
        .padding-tb-#{$i} {
            padding-top: #{$i/2}vw;
            padding-bottom: #{$i/2}vw;
        }
    }
}